.active{
    color:red;
}

.test{
    background:url("./images/Location_icon.png") 100% 100% no-repeat;
    background-size: 60%;
    background-position: center;
}
.test1{
    background:url("./images/select_icon.png") 100% 100% no-repeat;
    background-size: 60%;
    background-position: center;
}